* {
  // font-family: poppins;
}
a {
  text-decoration: none;
  color: #5b6a72;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  transition: all 0.2s;
}

a:hover {
  color: #ea5252;
}

// .home_tab {
//   .active_tab {
//     color: #ea5252 !important;
//     font-weight: 600;
//   }
// }

// .css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
//   color: #ea5252 !important;
//   font-weight: 600;
// }

// .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
//   color: #ea5252 !important;
//   font-weight: 600;
// }
// .css-1aquho2-MuiTabs-indicator {
//   background-color: #ea5252 !important;
// }

/*-----------------------------------upload image-------------------------------*/

.upload {
  height: 270px;
  width: 98%;
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 15px;
}
.profile_upload {
  height: 300px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  margin: auto;
}

.user_profile_upload {
  height: 200px;
  width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 auto 50px auto;
  border-radius: 100%;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#user_file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 100%;
}
#file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  color: #eb5252;
  font-size: 13rem;
  cursor: pointer;
  text-align: center;
  margin: auto;
}
#user_file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  left: 0;
  background: #fff;
  color: #eb5252;
  font-size: 13rem;
  cursor: pointer;
  text-align: center;
  margin: auto;
  border-radius: 100%;
}
#file_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#user_file_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 100%;
}
#file_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}
#user_file_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}
#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}
#user_file_img span {
  position: absolute;
  top: 20px;
  right: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}
.load_more {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}

.editor_wrapper {
  border: 1px solid black !important;
}

/*-------------loading--------------*/

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.video_stream {
  .leftwatermark {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}
